# Environments & Cache
venv/
__pycache__/
.env

# Large Data & Media
dataset/
data/
*.jpg
*.png
*.mp4
*.pth

# EXCEPTIONS: Do NOT ignore these specific result images
!backend/images/results_v2_forensic.png
!backend/images/confusion_matrix_v2_forensic.png

# Frontend junk
node_modules/
.next/
dist/
.DS_Store